<div class="card">
  <div class="card-body d-flex">
    <img [src]="book.cover_url" (click)="goToDetails()" alt="{{ book.title }}" class="card-img">
    <div class="wishlist-details ml-3">
      <h5 class="card-title" (click)="goToDetails()">{{ book.title }}</h5>
      <p class="card-text">Publication Year: {{ book.first_publish_year }}</p>
      <p class="card-text">Authors:
        <span *ngFor="let author of book.authors">
          <a (click)="goToAuthorDetails(author.id)">{{ author}}</a>
        </span>
      </p>
      <button class="btn btn-danger" (click)="openConfirmModal()">Remove</button>
    </div>
  </div>
</div>

<!-- Confirm Modal -->
<div #confirmModal class="modal fade" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">Confirm Removal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this book from your wishlist?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="confirmRemove()">Remove</button>
      </div>
    </div>
  </div>
</div>
